/* Freedom Desktop 404 CSS */
/* Copyright © 2023 Freedom Desktop */

/* Background and content */
body { background-color: rgb(255,255,255); }

/* Fonts */
p { font: 10pt "Microsoft Sans-Serif", sans-serif; color: black; padding: 12px; }
ul { font: 10pt "Microsoft Sans-Serif", sans-serif; color: black; padding: 12px; padding-left:50px; }
h1 { font: 16pt "Microsoft Sans-Serif", sans-serif; color: black; padding: 12px; }